html body {
  font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
  color: #390C68;
}

h1 {
	font-size: 6vw;
	text-align: center;
	margin-bottom: 40px;
}

img {
	border-color: transparent;
}

.parent {
  position: relative;
  max-width: 100%;
}

.child {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  margin-right: 20%;
  min-width: 90%;
}

#navigation {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 20px;
}

#navigation a {
	text-decoration: none;
}

#container {
	line-height: 28px;
    width: 99%;
    margin: 0 auto;
}

p {
	max-width: 750px;
	width: 90%;
    margin: 0 auto;
}

p a {
	text-decoration: none;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: #9462FC;
	color: inherit;
	padding-bottom: 3px;
}

p a:hover {
	text-decoration: none;
	border-bottom-width: 0px;
	color: #9462FC;
	padding-bottom: 3px;
}

#recent {
	margin-top: 40px;
}

#recent p {
	margin-top: 15px;
}